@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #4f46e5;
  --main-color-light: #6366f1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.search-icon {
  color: white;
}

.search-input:focus ~ .search-icon {
  color: black;
}