@tailwind base;
@tailwind components;
@tailwind utilities;

$main-color: #4f46e5;
$main-color-light: #6366f1;
$main-color-400: rgb(129 140 248);
$red: rgb(220 38 38);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 34px;
  outline: none;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 26px;
}
h4 {
  font-size: 22px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 18px;
}
ol {
  list-style: decimal;
}
ul {
  list-style: disc;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
a {
  text-decoration: none;
}
input,
input:hover,
input:focus {
  border-color: transparent;
}
div {
  outline: none;
}

.container {
  max-width: 650px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.edit-page-container {
  max-width: 700px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.edit-page {
  a {
    text-decoration: underline;
  }
  .ce-paragraph {
    cursor: text;
  }
}

#commentEditorjs,
#commentReplyEditorjs {
  .ce-toolbar__actions {
    display: none;
  }

  .codex-editor__redactor {
    padding-bottom: 0 !important;
    margin-right: 0 !important;
  }

  .ce-block {
    margin-right: 0;
    padding-right: 0;
  }
}

.codex-editor--empty
  .ce-block:first-child
  .ce-paragraph[data-placeholder]:empty:focus::before {
  opacity: 1;
}

[contenteditable="true"]:empty:before {
  content: attr(data-placeholder);
  color: grey;
  pointer-events: none;
  font-weight: normal;
}

.post-page {
  a {
    text-decoration: underline;
  }
}

.post-content {
  b {
    font-weight: normal;
  }
  a {
    pointer-events: none;
  }
}

.ant-upload-wrapper {
  width: unset !important;
}
.avatar-uploader {
  .ant-upload {
    height: 64px !important;
    width: 64px !important;
    margin: 0 !important;
    border: none !important;
  }
}

.modal-header {
  text-align: center;

  .ant-modal-title {
    font-size: 1.3rem;
  }
}

.modal-body {
  margin-top: 30px;
}

.ant-btn {
  background-color: transparent;

  &:hover {
    border-color: $main-color-light !important;
    color: $main-color-light !important;
  }
}
.ant-btn-primary {
  color: #fff !important;
  background-color: $main-color;

  &:hover {
    color: #fff !important;
    background-color: $main-color-light !important;
  }

  &:disabled,
  &:disabled:hover {
    background-color: $main-color-400 !important;
  }
}

.ant-drawer .ant-drawer-header-title {
  flex-direction: row-reverse;
}

.ant-popover .ant-popover-inner {
  padding: 0;
}

body,
.ant-drawer-body,
.likes-list {
  /* width */
  &::-webkit-scrollbar {
    width: 4px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

body {
  &::-webkit-scrollbar {
    width: 8px;
  }
}

.eye-icon {
	top: 18px
}

.loader {
  aspect-ratio: 1;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
